<html>
    <link rel="stylesheet" href="../stylesheets/style.css">
    <body>
        <h1>cars</h1>
        <img src="./images/bluecar.jpg" alt="Blue Car Picture" />
        <img src="./images/redcar.jpg" alt="Red Car" />
    </body>
</html>